# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temp Files
*~

# Qtcreator Files
CMakeLists.txt.user

# Kdevelop Files
*.kdev4

# Binary Directory
build/

# Debug Directory
debug/

# Output file
output_data.csv

#QtCreator FIles
CMakeLists.txt.user
