# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temp Files
*~

# Qtcreator Files
CMakeLists.txt.user

# Kdevelop Files
*.kdev4

# Binary Directory
build/

# Debug Directory
debug/

# Output file
output_data.csv

#QtCreator FIles
CMakeLists.txt.user

#idea files
*.idea

#compiled python files
*.pyc

#directory
.directory

# Kile files
*.aux
*.bbl
*.blg
*.log
*.toc
*.backup
*.kilepr
*.out
tesis.pdf
*.dvi
main.pdf
*.synctex.gz
*.txss