# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temp Files
*~

# Kdevelop Files
*.kdev4

# Binary Directory
build/

# Output file
output_data.csv
